<ion-header>
    <ion-toolbar color="danger">
  
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <ion-tabs >
    <ion-tab-bar  slot="top" aria-selected=true color="danger" translucent="true">
        <!-- <img src="../assets/images/tool6.png" alt=""> -->
      
       
      <ion-tab-button tab="requestHistory"  >

        <ion-label>MY REQUEST HISTORY</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="requestApproved"  >

        <ion-label>MY REQUEST APPROVED</ion-label>
      </ion-tab-button>


      
      
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
