.ToolbarLogo{
    width: 90px;
    height: 90px;
    margin-left: 62px;
    margin-top: -15px;
    margin-bottom: -17px;
}
ion-toolbar{
    height: 68px;
}
.expandRequest{
    width: 338px;
    min-height: 86px;
    
    background-color: #E4E4E4;
}