<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  
</div>
</ion-content>
