<ion-header>
  <ion-toolbar color="danger"  style="    margin-top: 13px;">

    <img src="../assets/images/toolbar.png">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dash-board" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" aria-selected=true color="danger" translucent="true">



      <ion-tab-button tab="myProfile">

        <ion-label>MY PROFILE</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="managePassword">

        <ion-label>MANNAGE PASSWORD</ion-label>
      </ion-tab-button>




    </ion-tab-bar>
  </ion-tabs>
</ion-content>
