ion-card{
    
    height: 146px;
}
.name{
    color: #083B66;
    font-weight: bold;
    font-style: Sitka Heading;
    font-family: Sitka Heading;
    font-size: 20px;
    margin-left: 12px;
    position: relative;
    top: 11px;
}
.cardIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.cardFont{
    font-family: Roboto;
    color: black;
   
}
.footerIcon{
    width: 25px;
}
