
 <ion-header>
    <ion-toolbar color="danger">
        
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>

        </ion-refresher-content>
      </ion-refresher>

      <ion-grid>
      <ion-row>
        <ion-col >
          <div text-right>

            <ion-button color="secondary"  size="small">PushBack</ion-button>
       
              <ion-button color="secondary" size="small" >Approve</ion-button>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
    
</ion-content>



<!-- {{accessType}}
<br>
{{transactionNo}}
<br>
{{dateAndTime}}
<br>
{{description}} -->
