
<div class='expandRequest' (click)="toggle()">


    <div text-right style="margin-bottom: -21px;" >
        <ion-icon style="position: relative;
        bottom: 64px;" [name]="visible ? 'arrow-up' : 'arrow-down' "></ion-icon>
      </div>
  
  
    <ng-content *ngIf="visible">
     
    </ng-content>
  </div>