
<div class='expandRequest' (click)="toggle()">
  <label class="accessHeading">{{accessType}}</label>
  <label class="accessTransNo">Transaction no {{transactionNum}}</label>
  <div class="accessDate">{{dateAndTime}}</div>



  <ng-content *ngIf="visible">
  </ng-content>
</div>