<div class='expandRequest' >

  <div >
    <label class="accessHeading">{{accessType}}</label>
    <label class="accessTransNo">Transaction no {{transactionNum}}</label>
    <div class="accessDate">{{dateAndTime}}</div>

  </div>



  <ng-content *ngIf="visible">
  </ng-content>
</div>


<div class="icon" (click)="toggle()">


  
    <ion-icon [name]="visible ? 'arrow-up' : 'arrow-down' "></ion-icon>
  </div>