<ion-content>
  <ion-grid>
    <ion-row>
      <br><br>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/logo.png" alt="IAMS" class="logo">
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" class="username">
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="username" required minlength="4" #username1="ngModel"></ion-input>

          <div *ngIf="username1.invalid && (username1.dirty || username.touched)" class="alert alert-danger">

            <div *ngIf="username.errors.required">
              Name is required.
            </div>
            <div *ngIf="username.errors.minlength">
              Name must be at least 4 characters long.
            </div>
       

          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 13px;">
      <ion-col>
        <ion-item>
          <ion-label position="fixed" class="password">
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <br>
    <ion-row style="margin-top: 13px;">
      <ion-col>

        <ion-button color="light" class="button" expand="block" (click)="onClick()">LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>