.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
  .expandRequest{
    
    min-height: 79px !important;
    background-color: #e4e4e475;

}
.accessType{
    float: left !important;
}
.dateAndTime{
    float: left !important;
}