


<ion-content>


    <ion-grid>
      <div *ngIf="fakeData">
        <ion-row *ngFor="let d of dummyData | async">
          <ion-col size-md="6" offset-md="3">
            <div class="expandRequest">
              <ion-grid>
                <ion-row>
  
                  <ion-col size="7" class="accessType">
                    <div [routerLink]="['/access-request-page',d.id]" class="ion-float-left">
                      {{d.accessType}}
                    </div>
                  </ion-col>
                  <br><br>
                </ion-row>
                <ion-row>
                  <ion-col class="dateAndTime">
                    <div class="ion-float-left">
  
                      {{d.dateAndTime}}
                    </div>
                  </ion-col>
                </ion-row>
  
                <ion-row>
                  <ion-col>
                    <div class="description">
                    
                      <toggle-content-history [show]="visible">
                          {{d.description}}
                      </toggle-content-history>
  
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ion-grid>
  
      <div *ngIf="!fakeData">
        <ion-row *ngFor="let d of count">
          <ion-col>
            <div class="expandRequest">
              <ion-grid>
                <ion-row>
                  <ion-col class="accessType">
                    <ion-skeleton-text animated style="width: 171.31px;height: 16px;"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="dateAndTime">
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  
  
  
  </ion-content>