<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>